# Compilation files of the application
build/

# Legacy compilation output
bin/
debug/

# Nano NBGL reversed icon for Home Screen
glyphs/home_gpg_14px.gif

# Temporary directory with snapshots taken during test runs
tests/ragger/snapshots-tmp/

# manual tests
tests/manual/foo*
tests/manual/gnupg

# Unit tests and code coverage
tests/unit/build/
tests/unit/coverage/
tests/unit/coverage.info

# Fuzzing
fuzzing/build/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version
venv/
gpg_backup

# Doxygen
doc/html
doc/latex

# Virtual env for sideload (macOS and Windows)
ledger/

#vscode settings
.vscode/