# Compilation files of the application
build/

# Legacy compilation output
bin/
debug/

# Temporary directory with snapshots taken during test runs
tests/snapshots-tmp/

# manual-tests
manual-tests/foo*
manual-tests/gnupg

# Unit tests and code coverage
unit-tests/build/
unit-tests/coverage/
unit-tests/coverage.info

# Fuzzing
fuzzing/build/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version
venv/
gpg_backup

# Doxygen
doc/html
doc/latex

# Virtual env for sideload (macOS and Windows)
ledger/
